.header {
    display: flex;
    width: 100vw;
    background-color: var(--gray-800);
    color: #E1E1E6;
    justify-content: center;
    padding: 1.25rem 0;
   
}
.logo {
    margin-top: -0.25rem;
    height: 2rem;
    margin-right: 0.25rem;
}